streamlit
requests
langchain
langchain-community
pinecone
sentence-transformers
azure-cognitiveservices-speech
reportlab
langchain-pinecone
pyaudio
streamlit
reportlab
ragEncyclopedia
content_extraction
Aud2Txt
requests
socket
time
huggingface_hub
langchain
python-dotenv
pinecone-client
