streamlit
requests
langchain
langchain-community
pinecone
sentence-transformers
azure-cognitiveservices-speech
reportlab
huggingface_hub
python-dotenv
langchain-pinecone
google-api-python-client 
google-auth 
google-auth-oauthlib 
google-auth-httplib2 
grpcio 
protobuf
protoc_gen_openapiv2
