streamlit
requests
langchain
langchain-community
pinecone
sentence-transformers
azure-cognitiveservices-speech
reportlab
langchain-pinecone
pyaudio
requests
socket
time
huggingface_hub
python-dotenv
pinecone-client
threading
